body{background-color: green;}
h1 { color: greenyellow;font-size: 30 px; margin: 0px;padding:20px 0;text-shadow: 3px 3px 1px black}
h2 {color: greenyellow;text-align: center; text-shadow: 3PX 3PX 1PX black;}
h3 {color: greenyellow;text-shadow: 3PX 3PX 1PX BLACK;}
p{color: greenyellow;text-align: center;}
button{background-color: greenyellow;box-shadow: 3PX 3PX 1PX black;}